<!doctype html>

<html lang="jp">
<head>
  <meta charset="utf-8">

  <title>PFC Balance</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link type="text/css" rel="stylesheet" href='/stylesheets/style.css' />
</head>

<body>
  <div class="container">
    <div class="container-header">
      <h1>PFC Balance Record</h1>
      <p>Record of Your PFC Balance</p>
    </div>
  </div>
</body>
</html>